/* layout */
body { margin: 0; padding: 0; }
container { width: 100wv; height: 100vh; overflow: hidden; }
container { display: flex; flex-direction: column; }
top { flex-grow: 1; min-height: 0; }
bottom { flex-shrink: 0; height: 20%; }
top { display: flex; }
messages { flex-grow: 1; overflow: auto; }
right-area { flex-shrink: 0; width: 12em; }
bottom { display: flex; flex-direction: column; }
toolbar { flex-shrink: 0; }
inputarea { flex-grow: 1; }
inputarea > textarea { width: 100%; height: 100%; }
user-count, user-list { display: block; }
messages > * { padding: 0.2em 0em 0.2em 0.4em; }
right-area { padding: 0.8em 0.6em; }
bottom { padding: 0em 0.4em 0.3em 0.4em; }
toolbar { padding: 0.4em 0.4em; }
inputarea > textarea { padding: 0.2em 0.3em; }
right-area { border-left: 1px solid hsl(0, 0%, 70%); }
bottom { border-top: 1px solid hsl(0, 0%, 70%); }
right-area { overflow: auto; }

/* global */
body { font-family: sans-serif; font-size: 18px; }
* { box-sizing: border-box; }
a { text-decoration: none; }
a[href] { color: hsl(233, 85%, 50%); }
a:not([href]) { color: hsl(0, 0%, 35%); cursor: default; }
textarea { font-size: 130%; }

/* message */
message { display: block; }
message > *:not(div) { display: inline; }
user-item { display: block; }
recv-time { margin-right: 0.3em; }
say-name { margin-right: 0.4em;  }
say-name { cursor: pointer; }
say-name::after { content: ":" }
say-content > a:not(:last-child) { margin-right: 0.3em; }
say-content > a:not(:first-child) { margin-left: 0.3em; }
message[data-消息类型=通知] { color: hsl(0, 0%, 15%) }
message[data-消息类型=反馈] { font-weight: bold; }
message[data-是否高亮=true] { background-color: hsl(60, 88%, 77%); }
message[data-频道] { display: none; }
message:hover:not([data-是否高亮=true]) {
    background-color: hsla(0, 0%, 88%, 0.8);
}
message img.image { display: block; max-width: 70%; }
message { cursor: default; }
message info, message say-content { cursor: auto; }
message > *:not(info):not(say-content):not(say-name) {
    -moz-user-select: none; -webkit-user-select: none;
}

/* user list */
user-count { text-align: center; }
user-count { cursor: default; }
user-count, user-list { -moz-user-select: none; -webkit-user-select: none; }
user-count { margin-bottom: 0.5em; }
user-item { padding: 0.3em 0.4em; }
user-item { cursor: pointer; }
user-item { font-weight: bold; }
user-item:hover { background-color: hsla(0, 0%, 92%, 0.8); }

/* toolbar & popup */
toolbar { position: relative; }
toolbar { -moz-user-select: none; -webkit-user-select: none; }
popup { display: block; position: absolute; }
popup-item { display: block; }
popup-item > a { display: block; }
item-title { display: block; }
item-desc { display: block; }
item-desc { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  }
popup { min-width: 8em; max-width: 10em; }
popup { max-height: 35vh; overflow-y: auto; }

/* popup */
popup-item a[href] { color: initial; }
popup-item { font-size: 110%; }
item-desc { color: hsl(0, 0%, 30%); font-size: 80%; }
popup {
    border: 1px solid hsl(0, 0%, 70%);
    box-shadow: 0 3px 9px hsla(0, 0%, 40%, 0.4);
    background: linear-gradient(to bottom, hsl(0, 0%, 94%), hsl(0, 0%,95%)); 
}
popup-item > a { padding: 0.2em 0.5em; }
popup-item > a { display: block; }
popup-item:not(:last-child) { border-bottom: 1px solid hsl(0, 0%, 78%); }
popup-item:hover:not([data-enabled=false]) {
    background-color: hsl(0, 0%, 83%);
}
popup-item[data-enabled] > a::before {
    content: "　";
}
popup-item[data-enabled=false] > a::before {
    content: "・";
}

/* dialog */
dialog {
    margin: 0;
    position: fixed;
    z-index: 99;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
}
dialog {
    display: flex;
    flex-direction: column;
}
dialog {
    border: 2px solid gray;
    padding: 0.5em 1em 0.7em 1em;
    background-color: hsla(0, 0%, 98%, 0.9);
}
hbox { display: flex; justify-content: space-between; }
dialog-title-bar { margin-bottom: 0.6em; }
dialog-title { font-weight: bold; }
dialog-content { padding: 0em 0.3em; }
dialog-content > * { margin-bottom: 0.3em; }
